* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: #222831;
    color: #ececec;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

textarea {
    height: 75px;
}

a,
.router-link {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

ul {
    list-style: none;
}

.chart {
    width: 90vw;
    margin: 20px auto;
    text-align: center;
    display: inline-block;
    @media (min-width: 750px) {
        padding: 50px 0;
        width: 60vw;
    }
}

button,
a {
    font-size: 0.85rem;
    color: #ececec;
    border: none;
    outline: none;
}

button:active {
    box-shadow: 0 5px #222831;
    transform: translateY(2px);
}
