main {
    min-height: calc(100vh - 100px);
}

.container {
    margin: 0 auto;
    max-width: 900px;
    @media (min-width: 950px) {
        .container {
            max-width: 700px;
        }
    }
    @media (min-width: 750px) {
        .container {
            padding: 0 2px;
            max-width: unset;
        }
    }
}
