h3 {
    margin-top: 20px;
}
form {
    background: none;
    padding: 0;
    input {
        font-size: 1rem;
        border-radius: 5px;
        outline: none;
        background-color: #30475e;
        border: none;
        padding: 20px 15px;
        width: 80%;
        margin: 10px 0;
        height: 30px;
        color: #ececec;
    }
}

button {
    background-color: #c1a57b;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border-style: none;
}

@media (min-width: 750px) {
    input {
        width: 40vw;
    }
}
