.greet i {
    color: #c1a57b;
    margin: 0 5px;
}
h4{
    margin: 10px 0;
}
h3 {
    font-size: 1.4rem;
    margin: 15px 0 25px 0;
}
.greet {
    margin-bottom: 50px;
}

.last-3 {
    margin: 50px 0 10px 10px;
    @media (min-width: 950px) {
        margin: 50px 0 10px 0;
    }
    i {
        margin-right: 5px;
        color: #ececec;
    }
}